@font-face {
  font-family: Booter;
  src: url(../fonts/Booter\ -\ Zero\ Zero.woff2);
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(135deg, #3a3a3a 50%, #d7e3f8) ;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parent-goblin {
  padding: 1rem 1.5rem;
  background: #6969691a;
  cursor: pointer;
  animation: fadeIn 1s ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20%;
  -webkit-user-select: none; /* جلوگیری از انتخاب متن */
  -moz-user-select: none; /* جلوگیری از انتخاب متن */
  -ms-user-select: none; /* جلوگیری از انتخاب متن */
  user-select: none; /* جلوگیری از انتخاب متن */
  touch-action: manipulation; /* جلوگیری از رفتار پیش‌فرض لمسی */
}

.airdrop {
  width: 210px;
  height: 210px;
  background-position: center;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.airdrop img {
  width: 150px;
  border-radius: 30px;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: auto;
}
.airdrop img:hover {
  cursor: pointer;
}

.parent-img {
  position: relative;
}

.scor {
  position: absolute;
  font-size: large;
  font-weight: 700;
  color: #00000079;
  /* transition-property: "display"; */
  transition: 250ms;
  animation: 350ms display ease-in-out;
}

.h-80-vh {
  height: 70vh;
}

@keyframes display {
  0% {
    opacity: 0;
    margin-right: 5px;
  }
  100% {
    opacity: 1;
    margin-right: 0px;
  }
}

.token-display {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#count {
  display: inline-block;
}

.plus-one {
  position: absolute;
  font-size: 24px;
  color: red;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
